Repository vv-dc/dev-says: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn test:frontend, yarn test:backend

Move testing from lint-staged
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  package.json
Due: none

Fix eslint configuration
  backend/.eslintrc.json
  backend/package.json
  frontend/.eslintrc.json
  frontend/package.json
Due: none

Add format check to git hooks, set up multistage build for backend
  .husky/pre-commit
  .husky/pre-push
  backend/Dockerfile
  backend/package.json
  package.json
Due: none

Add ER and UML component diagrams, user stories
  structure/er-diagram.svg
  structure/uml-component-diagram.svg
  structure/user-stories.md
Due: none

Set up fastify, add tests to backend
  backend/Dockerfile
  backend/package.json
  backend/src/index.js
  backend/src/schemas/root.js
  backend/src/services/root.js
  backend/src/test/helper.js
  backend/src/test/services/root.test.js
  backend/yarn.lock
  docker-compose.yml
Due: yarn test:backend

Fix workflow to work with buildx
  .github/workflows/develop.yml
  backend/.dockerignore
  backend/src/index.js
Due: yarn test:backend

Add multistage build to frontend, fix backend testing
  backend/Dockerfile
  backend/package.json
  frontend/Dockerfile
Due: none

Switch to jest test framework
  backend/.eslintrc.json
  backend/package.json
  backend/src/app.js
  backend/src/test/helper.js
  backend/src/test/services/root.test.js
  backend/yarn.lock
Due: yarn test:backend

Add Traefik
  docker-compose.traefik.yml
  docker-compose.yml
Due: none

Set up global https redirect
  docker-compose.traefik.yml
  docker-compose.yml
Due: none

Fix nginx config, change nginx user permissions
  frontend/Dockerfile
  frontend/nginx/default.conf
  frontend/nginx/nginx.conf
Due: none

Add tokens schemas for auth, fix prettier config
  backend/.prettierrc
  backend/src/app.js
  backend/src/schemas/auth.js
  backend/src/test/services/root.test.js
  frontend/.prettierrc
Due: yarn test:backend

Add database schema
  backend/db/schema.sql
Due: none

Update ER and UML component diagrams
  structure/er-diagram.svg
  structure/uml-component-diagram.svg
Due: none

Add basic frontend routing, auth component, update eslintrc
  frontend/.eslintrc.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/App.jsx
  frontend/src/components/auth/authentication.jsx
  frontend/src/components/auth/login.jsx
  frontend/src/components/auth/logout.jsx
  frontend/src/components/auth/register.jsx
  frontend/src/components/auth/reset-password.jsx
  frontend/yarn.lock
Due: yarn test:frontend

Fix nginx root directory, replace cd with --cwd in husky scripts
  .husky/pre-commit
  .husky/pre-push
  frontend/Dockerfile
  frontend/nginx/default.conf
Due: none

Merge users_info and users tables
  backend/db/schema.sql
Due: none

Fix workflow to run on every pull request
  .github/workflows/develop.yml
Due: none

Implement basic login page layout, add styled-components
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/auth/authentication.jsx
  frontend/src/components/auth/login.jsx
  frontend/src/components/auth/logout.jsx
  frontend/src/components/auth/register.jsx
  frontend/src/components/auth/reset-password.jsx
  frontend/src/components/styled/auth.jsx
  frontend/src/pages/index/index.jsx
  frontend/src/pages/login/index.jsx
  frontend/src/pages/register/index.jsx
  frontend/src/pages/reset-password/index.jsx
  frontend/yarn.lock
Due: none

Implement JWT tokens provider, add services and helpers directories
  frontend/src/App.jsx
  frontend/src/helpers/fetch-api.js
  frontend/src/pages/login/index.jsx
  frontend/src/pages/login/styles.jsx
  frontend/src/pages/register/styles.jsx
  frontend/src/pages/reset-password/styles.jsx
  frontend/src/providers/tokenProvider.js
  frontend/src/services/auth.service.js
Due: yarn test:frontend

Add postgres service
  backend/db/schema.sql
  backend/package.json
  backend/src/app.js
  backend/src/routes/root.js
  backend/src/services/pg/pg.service.js
  backend/src/test/routes/root.test.js
  backend/yarn.lock
Due: yarn test:backend

Add Order By, change Where, create User Service
  backend/.env.example
  backend/db/schema.sql
  backend/package.json
  backend/src/app.js
  backend/src/services/pg/pg.service.js
  backend/src/services/users/user.service.js
  backend/src/test/routes/root.test.js
  backend/yarn.lock
Due: yarn test:backend

Add auth with JWT
  backend/src/routes/auth.js
  backend/src/schemas/auth.js
  backend/src/services/auth/auth.service.js
  backend/src/services/auth/hash.service.js
  backend/src/services/auth/jwt.service.js
  backend/src/services/auth/refresh.service.js
Due: yarn test:backend

Implement Http and Auth services, replace provider with Auth store
  frontend/.env.example
  frontend/package.json
  frontend/src/helpers/fetch-api.js
  frontend/src/helpers/get-fingerprint.js
  frontend/src/providers/tokenProvider.js
  frontend/src/services/auth.service.js
  frontend/src/services/http.service.js
  frontend/src/stores/auth-store.js
  frontend/yarn.lock
Due: yarn test:frontend

Add styles and logic to login page, add fonts
  frontend/src/App.jsx
  frontend/src/App.test.js
  frontend/src/components/styled/auth.jsx
  frontend/src/components/themes.js
  frontend/src/fonts/bebas-neue-v2-latin-ext_latin-regular.woff2
  frontend/src/fonts/roboto-v20-latin-ext_latin-100.woff2
  frontend/src/fonts/roboto-v20-latin-ext_latin-100italic.woff2
  frontend/src/fonts/roboto-v20-latin-ext_latin-500.woff2
  frontend/src/fonts/roboto-v20-latin-ext_latin-700.woff2
  frontend/src/fonts/roboto-v20-latin-ext_latin-italic.woff2
  frontend/src/fonts/roboto-v20-latin-ext_latin-regular.woff2
  frontend/src/index.css
  frontend/src/pages/index/index.jsx
  frontend/src/pages/login/index.jsx
  frontend/src/pages/login/login-form.jsx
  frontend/src/pages/login/styles.jsx
  frontend/src/pages/register/index.jsx
  frontend/src/pages/register/register-form.jsx
  frontend/src/pages/register/styles.jsx
Due: yarn test:frontend

Add styles to register page, use CSS variables instead of ThemeProvider
  frontend/src/App.jsx
  frontend/src/components/auth-header.jsx
  frontend/src/components/styled/auth.jsx
  frontend/src/components/themes.js
  frontend/src/index.css
  frontend/src/pages/login/index.jsx
  frontend/src/pages/login/login-form.jsx
  frontend/src/pages/register/index.jsx
  frontend/src/pages/register/register-form.jsx
Due: yarn test:frontend

Add login and register with Google and Github
  frontend/.env.example
  frontend/public/favicon.ico
  frontend/src/components/auth-header.jsx
  frontend/src/components/github-button.jsx
  frontend/src/components/google-button.jsx
  frontend/src/components/styled/auth.jsx
  frontend/src/components/styled/base-button.jsx
  frontend/src/components/styled/divider.jsx
  frontend/src/helpers/popup-window.js
  frontend/src/helpers/url-utils.js
  frontend/src/pages/index/index.jsx
  frontend/src/pages/login/login-form.jsx
  frontend/src/pages/register/register-form.jsx
  frontend/src/pages/reset-password/styles.jsx
  frontend/src/services/auth.service.js
Due: yarn test:frontend

Add auth via GitHub, fix typos
  backend/.env.example
  backend/.eslintrc.json
  backend/db/schema.sql
  backend/package.json
  backend/src/helpers/github-email.js
  backend/src/helpers/tokens.js
  backend/src/routes/auth.js
  backend/src/schemas/auth.js
  backend/src/services/auth/auth.service.js
  backend/src/services/auth/password.service.js
  backend/src/services/auth/provider.service.js
  backend/src/services/auth/refresh.service.js
  backend/src/services/pg/pg.service.js
  backend/src/services/users/user.service.js
  backend/yarn.lock
Due: yarn test:backend

Fix bugs after merge
  backend/.env.example
  backend/db/schema.sql
  backend/src/app.js
  backend/src/routes/auth.js
  frontend/src/pages/index/index.jsx
  frontend/src/pages/register/register-form.jsx
  frontend/src/services/auth.service.js
Due: yarn test:frontend, yarn test:backend

Add auth via Google, fix security bugs
  backend/.env.example
  backend/src/helpers/github-email.js
  backend/src/helpers/google-email.js
  backend/src/routes/auth.js
  backend/src/schemas/auth.js
  backend/src/services/auth/auth.service.js
  frontend/src/services/auth.service.js
Due: yarn test:frontend, yarn test:backend

Make register form multi-step to handle username input
  frontend/src/App.jsx
  frontend/src/components/styled/auth.jsx
  frontend/src/pages/index/index.jsx
  frontend/src/pages/login/login-form.jsx
  frontend/src/pages/register/email-form.jsx
  frontend/src/pages/register/register-form.jsx
  frontend/src/pages/register/username-form.jsx
  frontend/src/services/auth.service.js
Due: yarn test:frontend

Switch to node-fetch, fix typos
  backend/.env.example
  backend/db/schema.sql
  backend/package.json
  backend/src/app.js
  backend/src/helpers/github-email.js
  backend/src/helpers/google-email.js
  backend/src/helpers/tokens.js
  backend/src/routes/auth.js
  backend/yarn.lock
Due: yarn test:backend

Rewrite popup-window and get-fingerprint helpers, make svgs inline
  frontend/.env.example
  frontend/.eslintrc.json
  frontend/package.json
  frontend/src/components/github-button.jsx
  frontend/src/components/github-button/github-logo.svg
  frontend/src/components/github-button/index.jsx
  frontend/src/components/google-button.jsx
  frontend/src/components/google-button/google-logo.svg
  frontend/src/components/google-button/index.jsx
  frontend/src/helpers/get-fingerprint.js
  frontend/src/helpers/popup-window.js
  frontend/src/helpers/url-utils.js
  frontend/src/pages/register/email-form.jsx
  frontend/src/pages/register/username-form.jsx
  frontend/yarn.lock
Due: yarn test:frontend

Change database schema
  backend/db/schema.sql
Due: none

Add SQL functions to get posts by id or tag
  backend/db/schema.sql
  backend/db/tools.sql
Due: none

Implement basic API to get posts by id or tag
  backend/src/routes/posts.js
  backend/src/schemas/post.js
  backend/src/services/pg/pg.service.js
  backend/src/services/posts/post.service.js
Due: yarn test:backend

Extend API to get posts by userId or username, shorten SQL functions
  backend/db/tools.sql
  backend/src/routes/posts.js
  backend/src/schemas/post.js
  backend/src/services/posts/post.service.js
Due: yarn test:backend

Add routes and schemas to work with users
  backend/src/routes/users.js
  backend/src/schemas/users.js
  backend/src/services/posts/post.service.js
Due: yarn test:backend

Implement basic data flow on frontend
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/cell/code.jsx
  frontend/src/components/cell/index.jsx
  frontend/src/components/cell/markdown.jsx
  frontend/src/components/post/index.jsx
  frontend/src/components/user/not-found.jsx
  frontend/src/components/user/posts.jsx
  frontend/src/pages/user.jsx
  frontend/src/services/posts.service.js
  frontend/src/services/users.service.js
  frontend/yarn.lock
Due: yarn test:frontend

Implement post header, add fontawesome support
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/edited.jsx
  frontend/src/components/post/body.jsx
  frontend/src/components/post/dots.jsx
  frontend/src/components/post/header.jsx
  frontend/src/components/post/index.jsx
  frontend/src/components/time-ago.jsx
  frontend/src/components/user/avatar.jsx
  frontend/src/components/user/company.jsx
  frontend/src/components/user/posts.jsx
  frontend/src/components/user/tag.jsx
  frontend/src/fonts/fa-regular-400.woff2
  frontend/src/fonts/fa-solid-900.woff2
  frontend/src/index.css
  frontend/src/pages/user.jsx
  frontend/yarn.lock
Due: none

Path conditions:
  yarn test:frontend: any of: frontend/**/*.{js, jsx}
  yarn test:backend: any of: backend/**/*.js
