Repository vv-dc/dev-says: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:frontend, yarn lint:backend

.lintstagedrc.json:

{
  "frontend/**/*.{js, jsx}": "yarn lint:frontend",
  "backend/**/*.js": "yarn lint:backend"
}

Implement post design, add tags
  frontend/src/App.jsx
  frontend/src/components/cell/code.jsx
  frontend/src/components/cell/index.jsx
  frontend/src/components/post/body.jsx
  frontend/src/components/post/commets.jsx
  frontend/src/components/post/dots.jsx
  frontend/src/components/post/header.jsx
  frontend/src/components/post/index.jsx
  frontend/src/components/post/tags.jsx
  frontend/src/components/tag/index.jsx
  frontend/src/components/user/tag.jsx
Due: none

Add basic comment functionality
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/cells/markdown.jsx
  frontend/src/components/comments/comment-branch.jsx
  frontend/src/components/comments/comment.jsx
  frontend/src/components/comments/dropdown.jsx
  frontend/src/components/comments/footer.jsx
  frontend/src/components/comments/header.jsx
  frontend/src/components/comments/section.jsx
  frontend/src/components/comments/side.jsx
  frontend/src/components/comments/thread.jsx
  frontend/src/components/shared/dots.jsx
  frontend/src/components/shared/edited.jsx
  frontend/src/components/shared/time-ago.jsx
  frontend/src/components/shared/view-replies.jsx
  frontend/src/components/users/profile-image.jsx
  frontend/src/components/users/tag.jsx
  frontend/src/services/comment.service.js
  frontend/yarn.lock
Due: yarn lint:frontend

Setup backend api for comments
  backend/db/schema.sql
  backend/db/tools.sql
  backend/src/routes/comments.js
  backend/src/schemas/auth.js
  backend/src/schemas/comments.js
  backend/src/services/comments/comment-utils.js
  backend/src/services/comments/comment.service.js
  backend/src/services/pg/pg.service.js
Due: yarn lint:backend

Implement post menu with score buttons, add user profile loading to AuthStore
  backend/db/schema.sql
  backend/db/tools.sql
  backend/src/routes/posts.js
  backend/src/schemas/post.js
  backend/src/schemas/users.js
  backend/src/services/pg/pg.service.js
  backend/src/services/posts/post.service.js
  frontend/src/App.jsx
  frontend/src/components/post/comments.jsx
  frontend/src/components/post/index.jsx
  frontend/src/components/post/menu/icons/comment.svg
  frontend/src/components/post/menu/icons/share.svg
  frontend/src/components/post/menu/index.jsx
  frontend/src/components/user/posts.jsx
  frontend/src/helpers/auth-error.js
  frontend/src/pages/user.jsx
  frontend/src/services/auth.service.js
  frontend/src/services/http.service.js
  frontend/src/services/posts.service.js
  frontend/src/services/users.service.js
  frontend/src/stores/auth-store.js
Due: yarn lint:frontend, yarn lint:backend

Change structure, fix typos
  backend/db/schema.sql
  backend/db/tools.sql
  backend/src/schemas/comments.js
  backend/src/services/comments/comment.service.js
  frontend/src/App.jsx
  frontend/src/components/cell/markdown.jsx
  frontend/src/components/cells/markdown.jsx
  frontend/src/components/comment/comment-branch.jsx
  frontend/src/components/comment/context.jsx
  frontend/src/components/comment/dropdown.jsx
  frontend/src/components/comment/section.jsx
  frontend/src/components/comment/side.jsx
  frontend/src/components/comment/thread.jsx
  frontend/src/components/comment/view/comment.jsx
  frontend/src/components/comment/view/footer.jsx
  frontend/src/components/comment/view/header.jsx
  frontend/src/components/comments/comment-branch.jsx
  frontend/src/components/comments/comment.jsx
  frontend/src/components/comments/thread.jsx
  frontend/src/components/users/profile-image.jsx
  frontend/src/helpers/parse-token.js
  frontend/src/index.css
  frontend/src/pages/comment.jsx
  frontend/src/services/comment.service.js
  frontend/src/stores/auth-store.js
Due: yarn lint:frontend, yarn lint:backend

Add comments to the post, fix after merge bugs
  backend/db/tools.sql
  backend/src/schemas/post.js
  frontend/src/App.jsx
  frontend/src/components/cell/code.jsx
  frontend/src/components/cell/markdown.jsx
  frontend/src/components/comment/branch.jsx
  frontend/src/components/comment/dropdown.jsx
  frontend/src/components/comment/index.jsx
  frontend/src/components/comment/side.jsx
  frontend/src/components/comment/thread.jsx
  frontend/src/components/comment/view/comment.jsx
  frontend/src/components/comment/view/footer.jsx
  frontend/src/components/comment/view/header.jsx
  frontend/src/components/edited.jsx
  frontend/src/components/post/comments.jsx
  frontend/src/components/post/dots.jsx
  frontend/src/components/post/header.jsx
  frontend/src/components/post/index.jsx
  frontend/src/components/shared/dots.jsx
  frontend/src/components/shared/dropdown.jsx
  frontend/src/components/time-ago.jsx
  frontend/src/components/user/tag.jsx
  frontend/src/components/users/profile-image.jsx
  frontend/src/components/users/tag.jsx
  frontend/src/index.css
  frontend/src/pages/comment.jsx
  frontend/src/pages/user.jsx
  frontend/src/services/auth.service.js
  frontend/src/stores/auth-store.js
Due: yarn lint:frontend, yarn lint:backend

Implement comment store with mobx, add "create" functionality
  backend/src/routes/comments.js
  backend/src/schemas/comments.js
  backend/src/services/comments/comment.service.js
  frontend/.eslintrc.json
  frontend/package.json
  frontend/src/components/comment/branch.jsx
  frontend/src/components/comment/dropdown.jsx
  frontend/src/components/comment/edit/form.jsx
  frontend/src/components/comment/index.jsx
  frontend/src/components/comment/thread.jsx
  frontend/src/components/comment/view/comment.jsx
  frontend/src/components/comment/view/footer.jsx
  frontend/src/components/post/comments.jsx
  frontend/src/components/post/index.jsx
  frontend/src/pages/register/email-form.jsx
  frontend/src/services/comment.service.js
  frontend/src/stores/comment-store.js
  frontend/yarn.lock
Due: yarn lint:frontend, yarn lint:backend

Add basic user page info section
  frontend/src/App.jsx
  frontend/src/components/font-awesome/joined.jsx
  frontend/src/components/font-awesome/link.jsx
  frontend/src/components/post/header.jsx
  frontend/src/components/post/tags.jsx
  frontend/src/components/shared/dots.jsx
  frontend/src/components/shared/formatted-number.jsx
  frontend/src/components/styled/fa-base.jsx
  frontend/src/components/styled/link.jsx
  frontend/src/components/user/avatar.jsx
  frontend/src/components/user/company.jsx
  frontend/src/components/user/follow-button.jsx
  frontend/src/components/user/info/index.jsx
  frontend/src/components/user/info/numeric.jsx
  frontend/src/components/user/info/primary.jsx
  frontend/src/components/user/info/secondary.jsx
  frontend/src/components/user/posts.jsx
  frontend/src/components/user/tag.jsx
  frontend/src/helpers/format-number.js
  frontend/src/index.css
  frontend/src/pages/register/email-form.jsx
  frontend/src/pages/user.jsx
Due: yarn lint:frontend

Make design more adaptive, add spinner, optimize post loading
  backend/db/tools.sql
  backend/src/routes/posts.js
  backend/src/schemas/post.js
  backend/src/services/pg/pg.service.js
  backend/src/services/posts/post.service.js
  frontend/src/components/cell/code.jsx
  frontend/src/components/cell/index.jsx
  frontend/src/components/post/header.jsx
  frontend/src/components/post/index.jsx
  frontend/src/components/post/menu/index.jsx
  frontend/src/components/shared/dots.jsx
  frontend/src/components/shared/spinner.jsx
  frontend/src/components/styled/ellipsis.jsx
  frontend/src/components/user/info/index.jsx
  frontend/src/components/user/posts.jsx
  frontend/src/pages/user.jsx
  frontend/src/services/auth.service.js
  frontend/src/services/http.service.js
  frontend/src/services/posts.service.js
Due: yarn lint:frontend, yarn lint:backend

Add numeric info about user, fix color management
  backend/db/schema.sql
  backend/db/tools.sql
  backend/src/routes/users.js
  backend/src/schemas/users.js
  backend/src/services/pg/pg.service.js
  backend/src/services/posts/post.service.js
  backend/src/services/users/user.service.js
  frontend/src/App.jsx
  frontend/src/components/google-button/index.jsx
  frontend/src/components/styled/auth.jsx
  frontend/src/components/user/info/index.jsx
  frontend/src/components/user/info/numeric.jsx
  frontend/src/pages/login/index.jsx
  frontend/src/pages/login/login-form.jsx
  frontend/src/pages/register/email-form.jsx
  frontend/src/pages/register/index.jsx
  frontend/src/pages/register/username-form.jsx
  frontend/src/pages/user.jsx
  frontend/src/services/users.service.js
Due: yarn lint:frontend, yarn lint:backend

Change comment tree structure, add edit option to comment
  backend/db/schema.sql
  backend/db/tools.sql
  backend/src/routes/comments.js
  backend/src/schemas/comments.js
  backend/src/services/comments/comment.service.js
  frontend/src/App.jsx
  frontend/src/components/comment/branch.jsx
  frontend/src/components/comment/dropdown.jsx
  frontend/src/components/comment/edit/form.jsx
  frontend/src/components/comment/edit/reply-form.jsx
  frontend/src/components/comment/index.jsx
  frontend/src/components/comment/thread.jsx
  frontend/src/components/comment/view/comment.jsx
  frontend/src/components/comment/view/footer.jsx
  frontend/src/components/comment/view/header.jsx
  frontend/src/components/comment/view/view-replies.jsx
  frontend/src/components/post/comments.jsx
  frontend/src/components/shared/dots.jsx
  frontend/src/services/comment.service.js
  frontend/src/stores/comment-store.js
Due: yarn lint:frontend, yarn lint:backend

fix typos
  backend/db/tools.sql
  backend/src/routes/comments.js
  backend/src/schemas/comments.js
  backend/src/services/comments/comment-utils.js
  frontend/src/components/comment/edit/form.jsx
  frontend/src/components/comment/edit/reply-form.jsx
  frontend/src/components/comment/view/comment.jsx
  frontend/src/components/shared/dots.jsx
  frontend/src/services/comment.service.js
  frontend/src/stores/comment-store.js
Due: yarn lint:frontend, yarn lint:backend

Fix bugs after merge, change pages directory structure
  frontend/src/App.jsx
  frontend/src/components/comment/branch.jsx
  frontend/src/components/comment/dropdown.jsx
  frontend/src/components/comment/edit/form.jsx
  frontend/src/components/comment/edit/reply-form.jsx
  frontend/src/components/comment/index.jsx
  frontend/src/components/comment/view/comment.jsx
  frontend/src/components/comment/view/footer.jsx
  frontend/src/components/comment/view/header.jsx
  frontend/src/components/comment/view/view-replies.jsx
  frontend/src/components/login-form/index.jsx
  frontend/src/components/register-form/email-form.jsx
  frontend/src/components/register-form/index.jsx
  frontend/src/components/register-form/username-form.jsx
  frontend/src/components/shared/dots.jsx
  frontend/src/components/styled/auth.jsx
  frontend/src/components/user/info/index.jsx
  frontend/src/helpers/http-error.js
  frontend/src/pages/index.jsx
  frontend/src/pages/login.jsx
  frontend/src/pages/register.jsx
  frontend/src/pages/reset-password.jsx
  frontend/src/services/auth.service.js
  frontend/src/services/comment.service.js
Due: yarn lint:frontend

Fix issues with circular dependencies
  frontend/src/App.jsx
  frontend/src/pages/index.jsx
  frontend/src/services/auth.service.js
  frontend/src/services/comment.service.js
  frontend/src/stores/auth-store.js
Due: yarn lint:frontend

Add tests for auth.service on the frontend
  frontend/package.json
  frontend/src/__mocks__/axios.js
  frontend/src/services/__mocks__/http.service.js
  frontend/src/services/__tests__/auth.service.test.js
  frontend/src/services/http.service.js
  frontend/src/setupTests.js
  frontend/src/stores/__mocks__/auth-store.js
  frontend/yarn.lock
Due: yarn lint:frontend

Add tests to auth service and route
  backend/package.json
  backend/setup-jest.js
  backend/src/app.js
  backend/src/routes/auth.js
  backend/src/services/auth/__mocks__/auth.service.js
  backend/src/services/auth/__mocks__/password.service.js
  backend/src/services/auth/__mocks__/provider.service.js
  backend/src/services/auth/__mocks__/refresh.service.js
  backend/src/services/auth/auth.service.js
  backend/src/services/auth/jwt.service.js
  backend/src/services/users/__mocks__/user.service.js
  backend/src/test/helper.js
  backend/src/test/routes/auth.test.js
  backend/src/test/services/auth.service.test.js
Due: yarn lint:backend

Add tests for login-form
  frontend/src/components/login-form/__tests__/login-form.test.jsx
  frontend/src/components/login-form/index.jsx
  frontend/src/services/__tests__/auth.service.test.js
  frontend/src/setupTests.js
Due: yarn lint:frontend

Add tests for post-menu
  frontend/src/__mocks__/axios.js
  frontend/src/components/post/__tests__/menu.test.jsx
  frontend/src/components/post/menu/index.jsx
Due: yarn lint:frontend

Fix workflow and dockerfiles to run test, lint, and build on pull request
  .github/workflows/develop.yml
  backend/Dockerfile
  frontend/Dockerfile
Due: none

Fix lets-encrypt certificate resolver bug
  docker-compose.traefik.yml
  docker-compose.yml
Due: none

Fix nginx, optimize envs on the frontend
  .github/workflows/develop.yml
  frontend/.dockerignore
  frontend/.env.example
  frontend/Dockerfile
  frontend/nginx/default.conf
  frontend/src/components/github-button/index.jsx
  frontend/src/components/google-button/index.jsx
Due: none

Change backend envs
  .github/workflows/develop.yml
  backend/.env.example
  backend/src/app.js
  backend/src/consts.js
  backend/src/helpers/github-email.js
  backend/src/helpers/google-email.js
  backend/src/helpers/tokens.js
  backend/src/services/auth/auth.service.js
  backend/src/services/auth/jwt.service.js
Due: yarn lint:backend

Implement deploying to the Digital Ocean
  .github/workflows/deploy.yml
  backend/.env.example
  backend/src/helpers/github-email.js
  backend/src/helpers/google-email.js
  docker-compose.traefik.yml
  docker-compose.yml
  frontend/.env.example
Due: yarn lint:backend

Change package names in docker-compose.yml
  docker-compose.yml
Due: none

Fix backend tests
  .github/workflows/deploy.yml
  backend/package.json
  backend/setup-jest.js
  backend/src/services/auth/auth.service.js
  backend/src/services/auth/jwt.service.js
  backend/src/test/routes/auth.test.js
  backend/src/test/services/auth.service.test.js
Due: yarn lint:backend

Fix bugs with store and links to user pages
  frontend/src/App.jsx
  frontend/src/components/shared/logout-button.jsx
  frontend/src/components/shared/search.jsx
  frontend/src/pages/index.jsx
  frontend/src/services/auth.service.js
  frontend/src/stores/auth-store.js
Due: yarn lint:frontend

Fix dependencies, fix auth loading
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/comment/branch.jsx
  frontend/src/components/comment/dropdown.jsx
  frontend/src/components/comment/index.jsx
  frontend/src/components/comment/thread.jsx
  frontend/src/components/comment/view/comment.jsx
  frontend/src/components/shared/auth-route.jsx
  frontend/src/pages/index.jsx
  frontend/src/pages/login.jsx
  frontend/src/pages/register.jsx
  frontend/src/setupTests.js
  frontend/src/stores/auth-store.js
  frontend/yarn.lock
Due: yarn lint:frontend

Fix .env.example, replace `cd` with `--cwd`
  frontend/src/stores/auth-store.js
  package.json
Due: yarn lint:frontend

Change deploy.yml to deploy on push to master
  .env.example
  .github/workflows/deploy.yml
Due: none

Fix env variables, add more examples
  .env.example
  .gitignore
  backend/.env.example
  backend/package.json
  backend/src/app.js
  backend/src/helpers/github-email.js
  backend/src/helpers/google-email.js
  docker-compose.local.yml
  env.sh
  frontend/.env.example
  frontend/src/components/register-form/index.jsx
Due: yarn lint:backend

Fix issue with broken avatars
  frontend/src/components/user/avatar.jsx
  frontend/src/components/user/info/index.jsx
Due: none
